h1 {
    color: red;
}

body {
    background-image: url(/Re-Learning/assets/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table, td, th{
    background-color: aliceblue;
    border: solid 1px black;
    border-collapse: collapse;
}

td, th:nth-child(even){
    padding: 10px;
    background-color: blue;
    text-align: center;
}

td, th:nth-child(odd){
    padding: 10px;
    background-color: red;
    text-align: center;
}

ul{
    list-style-type: circle;
}
